 /* .navbar .container   {
    
height:3em;
width: 100%;
display: grid;
position: static;
min-height: auto;
grid-template-columns: 100%;
grid-template-rows: 1fr;
    
}  */
.navbar-text .navbar-brand a{
    font-size: large;
}

.material-icons-outlined{
    color: white;
}
.image{
    width: 60px;
    height:60px;
    object-fit: contain;
    object-position: center;
}
.ro{
   padding: 0px 0px 0px 0px;
   height: 60px;
   width: 60px;
}
.container .para a{
    color: white;
    font-weight: bold;
    text-align: start;
    text-decoration: none;
    font-size: 25px;
    display: grid;
}
.navbar .container{
    padding: 1mm;
    
}